      



*{
	box-sizing:border-box;
	margin:0;
	padding:0;	
}
body{
	
	min-height:70vh;
	font-family: 'Cormorant Garamond', serif;
	background: rgb(157,166,182);
background: linear-gradient(90deg, rgba(157,166,182,1) 0%, rgba(102,105,113,1) 75%);
}	

.header, .footer, .container { 
	margin: 1em auto;
	border: 0.01em solid #aaa;
	border-radius: 1em;
	padding: 1em;
	background: #fff;
    box-shadow: 0.2em 0.2em 0.4em #ccc;
    width:550px;
  
}

.header, .footer{ 
	text-align: center;
}


#container{
	margin: auto;
	width:550px;
	background-color:#fff;
	box-shadow: 0 0 12px #fff
}
form{
	
padding:30px;
font-size:20px;

}	
h1{
	text-align:center;
	margin-bottom:10px;
	font-size:50px;
	color:rgb(0,0,0);
}
#box{
	display: flex;
	flex-direction: column;
	font-size: 21px;
	color:rgb(0,0,0);
}





#error {
margin: 15px;
padding: 10px 10px 10px 20px; 
border-radius: 5px; 
background-color: #f88; 
width:450px;
List-style: none;
font-size:17px;
}



